*{
    font-family: "Times New Roman", Sarif, Monospace;
}

body{
    margin: 0px;
    background-color: rgb(15, 15, 15);
}

header{
     text-align: right;
     position: fixed;
     top: -10px;
     right: 0px;
     left: 0px;
     background-color: rgb(29, 29, 29);
     padding-top: 2px;
}

li{
    display: inline;
}

.nav-link{
     font-size: 20px;
     padding: 10px;
}

#content{
     background-color: rgb(15, 18, 15);
     padding-bottom: 20px;
     margin-top: 57px;
}

h2{
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
    margin-bottom: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

#contact-form{
    text-align: center;
}
 
h3{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
    text-align: center;
}
 
#contact-form-list{
    text-align: center;
    display: inline-block;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    padding-top: 5px;
    padding-right: 75px;
    padding-bottom: 5px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    border-spacing: 20px;
}
 
.contact{
    display: block;
    padding: 3px;
}
 
#send-button{
    background-color: whitesmoke;
    width: 75px;
    height:25px;
    margin-left: 35px;
}

footer{
    padding-top: 300px;
    text-align: center;
    padding-bottom: 5px;
}